@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Mono&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  overflow-x: hidden;
  font-size: 15px;
}
.home {
  background-color: #ff6b81;
  width: 100%;
  height: 100vh;
}
.logo {
  width: 150px;
  margin-left: 50px;
}
.header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 0px 1px rgba(11, 11, 11, 0.15);
}
.scrolled {
  background-color: white;
  color: black;
}
.compo {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}
.compo li {
  font-weight: 600;
  font-size: 14px;
}
.get-it-now {
  margin-right: 50px;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  transform: all 0.5s ease;
}
.get-it-now:hover {
  background-color: white;
  color: #ff6b81;
  cursor: pointer;
}
.get-it-now-btn {
  background: #ff6b81;
  border: none;
}
.get-it-now-btn:hover {
  background-color: black;
  color: white;
}
.hero {
  width: 100%;
  height: 100%;
  display: flex;
}
.left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 150px;
  gap: 35px;
}
.name {
  font-size: 35px;
  font-weight: 800;
  width: 500px;
}
.desc {
  font-size: 14px;
  width: 500px;
}
.buttons > :nth-child(1) {
  width: 150px;
  height: 50px;
  border: none;
  background-color: white;
  color: #ff6b81;
  font-weight: 600;
  border-radius: 5px;
  margin-right: 20px;
  transition: all 0.5s ease;
}
.buttons > :nth-child(1):hover {
  background-color: black;
  color: white;
}
.buttons > :nth-child(2) {
  width: 150px;
  height: 50px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.buttons > :nth-child(2):hover {
  background-color: white;
  color: #ff6b81;
  cursor: pointer;
}
.right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right img {
  width: 800px;
  padding-right: 150px;
}
.features {
  color: black;
  margin-top: 70px;
  padding-left: 150px;
  padding-right: 50px;
  padding-bottom: 30px;
}

.top-f {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.f-name {
  margin-top: 50px;
  font-weight: 600;
  color: #ff6b81;
  letter-spacing: 0.5px;
}
.f-text {
  font-weight: 800;
  font-size: 35px;
  width: 800px;
  text-align: center;
}
.f-desc {
  width: 800px;
  font-size: 18px;
  text-align: center;
  color: grey;
  padding-bottom: 30px;
}
.cards {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: rgb(253, 253, 253);
  box-shadow: 0px 0px 2px rgba(11, 11, 11, 0.5);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.cards:hover {
  transform: scale(1.05);
}
.card1 {
  width: 40px;
  height: 30px;
  color: #ff6b81;
  background-color: #ff6b81;
  border-radius: 5px;
  text-align: start;
}
.card2 {
  font-weight: 700;
}
.card3 {
  color: grey;
  word-spacing: 2px;
  width: 100%;
  font-size: large;
}
.feature-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 40px;
  padding: 10px;
  column-gap: 20px;
}
.overview {
  height: 100vh;
  width: 100%;
  display: flex;
}
.overview-left {
  margin-left: 50px;
  height: 100vh;
  width: 50%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-box {
  margin-left: 50px;
  padding: 25px;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 30px;
}
.left-box-text {
  width: 60%;
  font-size: 29px;
  font-weight: bolder;
}
.left-box-desc {
  font-size: 18px;
  line-height: 30px;
  color: grey;
}
.get-started {
  border: none;
  width: 150px;
  height: 50px;
  background-color: #ff6b81;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
.get-started:hover {
  background-color: black;
  color: white;
}
.overview-2 {
  color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: 20px;
}
.overview-2-left {
  margin-left: 100px;
}
.overview-2-right {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
}
.overview-2-right-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  margin-right: 150px;
}
.overview-2-right-box-text {
  font-size: 24px;
  font-weight: bold;
}
.overview-2-right-box-desc {
  font-size: 18px;
  color: grey;
  line-height: 30px;
}
.pricing {
  width: 100%;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 254, 254);
}
.p-top {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.p-name {
  margin-top: 50px;
  font-weight: 600;
  color: #ff6b81;
  letter-spacing: 0.5px;
}
.p-card-desc {
  width: 85%;
  line-height: 20px;
  color: rgb(106, 106, 106);
}
.p-text {
  font-weight: 800;
  font-size: 35px;
  width: 800px;
  text-align: center;
}
.p-desc {
  width: 800px;
  font-size: 18px;
  text-align: center;
  color: grey;
  padding-bottom: 30px;
}
.p-bottom {
  width: 100%;
  height: 70%;
}
.price-cards {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-right: 100px;
  padding: 20px;
}
.price-card {
  height: 100%;
  width: 85%;
  margin-top: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  box-shadow: 0.5px 1px 2px rgba(11, 11, 11, 0.5);
  transition: all 0.2s ease;
}
.price-card:hover{
  transform: translate3d(2px,-5px,-5px)

}
.p-head {
  font-size: larger;
  font-weight: bolder;
}
.price {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: x-large;
  font-weight: bold;
}
.price span {
  font-size: small;
  font-weight: 400;
}
.p-buy {
  height: 35px;
  width: 90%;
  background-color: black;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  justify-content: center;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease-in-out;
}
.p-buy:hover{
  background-color: #ff6b81;
  color: white;
}
.price-card ul {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 15px;
}
.price-card li {
  margin-left: 20px;
  list-style: none;
  font-weight: 400;
  padding: 5px;
}
